@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Roboto", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.text-dark-blue {
  color: #2A2E55;
}
.text-light-blue {
  color: #1D7BD8;
}